.contact-form {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.contact-form label {
  margin: 15px 0 5px 0;
}

.contact-form input {
  margin-bottom: 10px;
}

.contact-form button {
  width: 60%;
  margin: auto;
}
